body{
	margin: 0;
}

.clock{
	width: 100px;
	height: 100px;
	border: 1px solid;
	margin: 50px auto;
	border-radius: 50%;
	position: relative;
	background-color: yellow;
}

.arrow {
	left: 0;
	right: 0;
	bottom: 50%;
	margin: auto;
	position: absolute;
	transform-origin: 50% 100%;
}

.hours{
	width: 5px;
	height: 35%;
	background: #000;
}

.minutes{
	width: 3px;
	height: 45%;
	background-color: red;
}

.seconds{
	width: 2px;
	height: 48%;
	background-color: green;
}


.stub{
	background: black;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
}